

#divMenuContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width : 60%;
    margin-right: auto;
    margin-left: auto;
}

#divMenuContainer > a {
    padding: 10px;
    font-size: 20px;
    background: maroon;
    color: #fff;
    border-radius: 25%;
    margin: 1%;
    text-align: center;

    width : 25%;
}

#divMenuContainer > a:hover {
    padding: 10px;
    font-size: 20px;
    background: #805a65;
    color: #fff;
    border-radius: 25%;
    margin: 1%;
    text-align: center;

    width : 25%;
}

#buttons {
    text-decoration: red;
    padding: 10px;
    margin-top: 3px;
    font-family: 'Brush Script-MT';
    margin-right: 3px;
    border-color: blue;
    color: aliceblue;
    background-position: right bottom, left top; 
    background-image: linear-gradient(to bottom right, rgb(154, 11, 249),rgb(0, 234, 255));
    border-radius: 10px;
    display:inline-block;
}

.pagename {
    padding: 2px;
    font-size: 15px;
    color: aliceblue;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat; background-image: linear-gradient(to bottom right, rgb(154, 11, 249),rgb(0, 234, 255));
}

#pagename {
    padding: 20px;
    font-size: 20px;
    background-color: aqua;
}