.divLoginSignup input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.divLoginSignup input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.divLoginSignup input[type=submit] {
  width: 100%;
  background-color: aliceblue;
  color: linear-gradient(to bottom right, rgb(154, 11, 249),rgb(0, 234, 255));
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.divLoginSignup input[type=submit]:hover {
  background-color: #45a049;
}
.divFormContainer{
  display:flex;
  justify-content: center;
}
.divLoginSignup {
  border-radius: 5px;
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat; 
  background-image: linear-gradient(to bottom right, rgb(178, 11, 249),rgb(30, 63, 250),rgb(30, 250, 243));
  padding: 20px;
  width:70%;
  height: 50%;
  color: aliceblue;
  font-family: 'Brush Script-MT';
}

textarea {
  width:50%;
  background-color: aqua;
}

body{
  background-image: linear-gradient(to bottom right,rgb(250, 232, 176), #eac2fa, #a6fcff);
  background-repeat: no-repeat, repeat;
}

