{%extends "upper_menu.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style_signup_login_form.css' %}">
{% endblock %}
{% block content %}
    <div class="divFormContainer">
        <div class="divLoginSignup">
            <form action="admin_AddUserProfile" method="post">
            {% csrf_token %}
                <input type="text" placeholder="e-mail" name="email">
                <br>
                <input type="password" placeholder="password" name="password">
                <br>
                <input type="text" placeholder="your name" name="name">
                <br>
                <input type="text" placeholder="max papers (for reviewers only)" name="max_papers">
                <br>
                <input type="radio" name="user_type" value="admin" checked>System Admin
                <br>
                <input type="radio" name="user_type" value="chair">Chair
                <br>
                <input type="radio" name="user_type" value="reviewer">Reviewer
                <br>
                <input type="radio" name="user_type" value="author">Author
                <br>
                <input type="submit" value="Create User">
            </form>
        </div>
    </div>


{% endblock %}