{%extends "upper_menu.html" %}

{% load static %}
{% load template_extras %}
<link rel="stylesheet" href="{% static '/css/style_common.css' %}">

{% block content %}
<span style="font-size: 1.5rem; font-family: sans-serif;">
    <table cellspacing="10" width="100%" border="1px solid"; border-color: "white" >
        <tr>
            <th>
                Paper Title
            </th>
            <th>
                Status
            </th>
            <th>
                View Paper
            </th>
            <th>
                View Reviews
            </th>
        </tr>
        {% for paper in authored_papers%}
        <tr>
            <form action="author_view_paper" method="post">
                {% csrf_token %}                
                <input type="hidden" name="paper_id" value = {{paper.paper_id}}>
                <tr>
                    <td>
                        {{ paper.paper_name }}
                    </td>
                    <td> 
                        {{ paperstatus_dict|access_dict:paper.status }}
                    </td>
                    <td>
                        <input type="submit" id="user_buttons" style="color: aliceblue;" value="View Paper" formaction="author_view_paper">
                    </td>
                    <td>
                        <input type="submit" {% if not reviewed_authored_papers|access_dict:paper.paper_id %} readonly {% endif %} id="user_buttons" style="color: aliceblue;" value="Submit Paper" formaction="author_view_all_reviews">
                    </td>
                </tr>
                        
            </form>
        </tr>
        {% endfor %}
    </table>
</span>
{% endblock content %}