{%extends "upper_menu.html" %}

{% load static %}
{% block content %}
<div id="myForm" style="font-family: Brush Script MT;">
    <table style="font-family: Brush Script MT; font-size: 2rem;">
    <tr>
        <td style="text-align: center">
        <label>Author Emails:</label><br />
                <textarea id="message" rows="10" cols="100" name="text" style="font-family: Times-New-Roman; font-size: 1rem;">Please enter the authors' emails separated by commas &#13;&#10; For eg. authorA@gmail.com, authorB@gmail.com</textarea>
                <span style="color: red;" id="textRequired"></span>
        <br/>
        </td>
    </tr>
    </table>
    <div id="user_buttons"> <a href="author_start_new_paper" style="color: aliceblue;">Create</a> </div>
{% endblock content %}