{%extends "upper_menu.html" %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/style_common.css' %}">

{% block content %}
<span style="font-size: 1.5rem; font-family: sans-serif;">
    <div id="myForm" style="font-family: Brush Script MT;">
        <table style="font-family: Brush Script MT; font-size: 2rem;">
        <tr>
            <td>
                Paper Title:
                <input type="text" id="demo" size="30" readonly> 
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
            <label>Author Emails:</label><br />
                    <textarea id="message" rows="10" cols="100" name="text" style="font-family: Times-New-Roman; font-size: 1rem;" placeholder="Please enter the authors' emails separated by commas &#13;&#10; For eg. authorA@gmail.com, authorB@gmail.com"></textarea>
                    <span style="color: red;" id="textRequired"></span>
            <br/>
            </td>
        </tr>
        </table>
        <div id="user_buttons"> <a href="author_start_new_paper" style="color: aliceblue;">Create</a> 
    </div>