{%extends "upper_menu.html" %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/style_common.css' %}">

{% block content %}
<span style="font-size: 1.5rem; font-family: sans-serif;">
    <div id="myForm" style="font-family: Brush Script MT;">
        <table style="font-family: Brush Script MT; font-size: 2rem;">
            <tr>
                <td>
                    Paper Title:
                    <input readonly type="text" id="demo" name="new_name" size="30" value={{ paper.paper_name }}> 
                </td>
            </tr>
            <tr>
                <td style="text-align: center">
                <label>Authors:</label><br />
                        <textarea readonly form="" name="author_emails" id="message" rows="5" cols="100" name="text" style="font-family: Times-New-Roman; font-size: 1rem;" placeholder="Please enter the authors' emails separated by commas &#13;&#10;For eg. authorA@gmail.com, authorB@gmail.com"
                            >{{ author_name_string }}</textarea>
                        <span style="color: red;" id="textRequired"></span>
                <br/>
                </td>
            </tr>
            {% for review in reviews %}
                <form action="commentor_view_review_comments" method="post" id="ViewComments">
                    {% csrf_token %}
                    <input type="hidden" name="paper_id" value = {{paper.paper_id}}>
                    <tr>
                        <td style="text-align: center">
                            {{review.reviewer_user_id.name}}
                        </td>
                        <td style="text-align: center">
                            <textarea readonly form="ViewComments" name="review_details" id="message2" rows="10" cols="100" name="text" style="font-family: Times-New-Roman; font-size: 1rem;" placeholder="Please enter your review details."
                                >{{ review.review_details }}</textarea>
                            <span style="color: red;" id="textRequired"></span>
                        <br/>
                        </td>
                        <td style="text-align: center">
                            {{reviewrating_dict|access_dict:review.reviewer_rating}}
                        </td>
                        <td style="text-align: center">
                            {{reviewcomment_count|access_dict:review.review_id}}
                        </td>
                        <td style="text-align: center">
                            <input type="submit" value="View Comments">
                        </td>
                    </tr>
                </form>
            {% endfor %}
            <br/>
        </table>
    </div>
</span>
{% endblock content %}