{%extends "upper_menu.html" %}

{% load static %}
{% block content %}
<span style="font-size: 1.5rem; font-family: sans-serif;">
<table  cellspacing="10" width="100%">
    <tr>
        <th>Paper Name</th>
        <th>Allocate</th>
    </tr>
    {% for paper in papers%}
        <tr>
            <form action="conferencechair_view_reviewers" method="post">
                {% csrf_token %}                
                <input type="hidden" name="paper_id" value = {{paper.paper_id}}>
                <tr>
                    <td>
                        {{ paper.paper_name }}
                    </td>
                    <td>
                        <a href="conferencechair_listreviewers.html">
                        <input type="submit" value="Allocate" style="align: center;">
                        </a>
                    </td>
                </tr>
                        
            </form>
        </tr>
        {% endfor %}
</table>
</span>
{% endblock content %}