{%extends "upper_menu.html" %}

{% load static %}
{% load template_extras %}
<link rel="stylesheet" href="{% static '/css/style_common.css' %}">

{% block content %}
<span style="font-size: 1.5rem; font-family: sans-serif;">
    <div id="myForm" style="font-family: Brush Script MT;">
        <form action="" method="post" id="AcceptRejectPaper">
            {% csrf_token %}
            <input type="hidden" name="paper_id" value = {{paper.paper_id}}>
            <table style="font-family: Brush Script MT; font-size: 2rem;">
                <tr>
                    <td colspan="3">
                        Paper Title:
                        <input readonly type="text" id="demo" name="new_name" size="30" value={{ paper.paper_name }}> 
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center" colspan="3">
                    <label>Authors:</label><br />
                            <textarea readonly form="AcceptRejectPaper" name="author_emails" id="message" rows="5" cols="100" name="text" style="font-family: Times-New-Roman; font-size: 1rem;" placeholder="Please enter the authors' emails separated by commas &#13;&#10;For eg. authorA@gmail.com, authorB@gmail.com"
                                >{{ authors }}</textarea>
                            <span style="color: red;" id="textRequired"></span>
                    <br/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center" >Reviewer Name</td>
                    <td style="text-align: center" >Review</td>
                    <td style="text-align: center" >Rating</td>
                </tr>
                {% for review in reviews %}
                    <tr>
                        <td  style="text-align: center">
                            {{review.reviewer_user_id.name}}
                        </td>
                        <td style="text-align: center">
                            <textarea readonly form="AcceptRejectPaper" name="review_details" id="message2" rows="10" cols="100" name="text" style="font-family: Times-New-Roman; font-size: 1rem;" placeholder="Please enter your review details."
                                >{{ review.review_details }}</textarea>
                            <span style="color: red;" id="textRequired"></span>
                        <br/>
                        </td>
                        <td style="text-align: center">
                            {{reviewrating_dict|access_dict:review.reviewer_rating}}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">
                    <div class="user_button_group">
                        <input type="submit" id="user_buttons" style="color: aliceblue;" value="Accept Paper" formaction="conferencechair_AcceptPaper">
                        <input type="submit" id="user_buttons" style="color: aliceblue;" value="Reject Paper" formaction="conferencechair_RejectPaper">
                    </div>  
                    </td>
                </tr>
            </table>
            
        </form>
    </div>
</span>
{% endblock content %}