{%extends "upper_menu.html" %}

{% load static %}
{% load template_extras %}
<link rel="stylesheet" href="{% static '/css/style_common.css' %}">

{% block content %}
<span style="font-size: 1.5rem; font-family: sans-serif;">
<table  cellspacing="10" width="100%">
    <tr>
        <th>Reviewer Name:</th>
        <th>Bid:</th>
        <th>Papers:</th>
        <th>Allocate:</th>
    </tr>
    {% for reviewer in reviewers%}
        <tr>
            <form action="conferencechair_AllocatePaper" method="post">
                {% csrf_token %}                
                <input type="hidden" name="reviewer_user_id" value = {{reviewer.user_id}}>
                <input type="hidden" name="paper_id" value = {{paper.paper_id}}>
                <tr>
                    <td>
                        {{reviewer.name}}
                    </td>
                    <td>
                        {{reviewer_additional_info|access_dict:reviewer.user_id|access_dict:'is_bid'}}
                    </td>
                    <td>
                        {{reviewer_additional_info|access_dict:reviewer.user_id|access_dict:'currently_reviewing_count'}}
                    </td>
                    <td>
                        {% if not reviewer_additional_info|access_dict:reviewer.user_id|access_dict:'is_allocated' %}<input type="submit" diabled="disabled" value="Allocate" style="align: center;"> {% else %} Paper has already been allocated to reviewer {% endif %} 
                    </td>
                </tr>
                        
            </form>
        </tr>
    {% endfor %}
</table>
{% endblock content %}