{%extends "upper_menu.html" %}
{% load static %}
{% load template_extras %}
<link rel="stylesheet" href="{% static '/css/style_common.css' %}">
<div class="background">
{% block content %}
<span style="font-size: 1.5rem; font-family: sans-serif;">
<div>
    <table cellspacing="10">
        <tr>
            <th>
                Paper Name
            </th>
            <th>
                Select Paper
            </th>

        </tr>
        {% for paper in reviewed_papers%}
                <tr>
                    <form action="reviewer_view_paper" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="paper_id" value = {{paper.paper_id}}>
                        <td>
                            {{ paper.paper_name }}
                        </td>
                        <td>
                            <input type="submit" value="View paper">
                        </td>
                    </form>
                </tr>
        {% endfor %}
    </table>
</div>
</span>
{% endblock %}
</div>